<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações Complementares</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }
        div {
            margin-bottom: 15px;
        }
        h4 {
            margin: 0;
            font-size: 18px;
        }
        p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <h1>Informações Complementares</h1>
    <div>
        <h4>Curso Dio.me</h4>
        <p>Desenvolvimento Java com IA </p>
    </div>
    <div>
        <h4>Curso Dio.me</h4>
        <p>Formação Lógica de Programação</p>
    </div>
    
</body>
</html>
